.footermain {
    color: white;
     height: 100px;
    background-image: linear-gradient(to left, rgb(95, 78, 143), rgb(35, 110, 139)); 
    /* background-image: linear-gradient(to right, rgb(61, 39, 121), rgb(14, 81, 107));  */
    /* background-color: rgb(14, 81, 107);  */
    /* background-image: linear-gradient(to left, rgba(141, 136, 198, 1), rgba(66, 64, 87, 1)); */
    /* background-image: linear-gradient(to right, rgb(162, 157, 219), rgb(113, 56, 121));
     */
    text-align:right
}

.allrighttext {
    ont-size: 72px;
    background: -webkit-linear-gradient(rgb(32, 126, 180), rgb(214, 207, 212));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 20px;
}